.subscription {
    margin-bottom: 80px;
    &_tag {
        li {
            background-color: $main-color;
            color: #fff;
            padding: 2px 8px;
            margin-right: 3px;
        }
    }
    &_title {
        margin-bottom: 16px;
        h2 {
            font-size: 40px;
            margin-bottom: 7px;
        }
        @media screen and (max-width: 767px) {
            h2 {
                font-size: 32px;
            }
        }
    }
    &_teacher {
        font-size: 24px;
        color: $main-color;
        margin: 0;
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
    &_text {
        width: 60%;
        padding-right: 35px;
        p {
            font-size: 18px;
        }
    }
    &_pic {
        width: 40%;
        img {
            width: 100%;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    &_case {
        margin-top: 48px;
        margin-bottom: 35px;
        .row {
            margin-left: -17px;
            margin-right: -17px;
            >div {
                padding-left: 17px;
                padding-right: 17px;
            }
        }
        &_item {
            border: 1px solid $main-orange;
            padding: 15px 35px 10px;
            transition: $transition-common;
            cursor: pointer;
            margin-bottom: 13px;
            &.active, &:hover {
                background-color: $main-orange;
                .subscription_case_name, .subscription_case_price {
                    color: #fff;
                }
            }
        }
        &_name {
            font-size: 18px;
            font-weight: 700;
            color: $main-orange;
            @include webkitBox;
            -webkit-line-clamp: 2;
            height: 44px;
            margin-bottom: 12px;
        }
        &_price {
            font-family: $font-mont;
            color: $main-orange;
            font-size: 40px;
            margin: 0;
        }
        @media screen and (max-width: 767px) {
            &_name {
                font-size: 16px;
                height: 39px;
            }
            &_price {
                font-size: 37px;
            }
        }
    }
    &_secondTitle {
        color: $main-color;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 13px;
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
    &_sec {
        margin-bottom: 50px;
    }
    &_list {
        &_teacher {
            margin-bottom: 3px;
            font-size: 18px;
            text-decoration: underline;
        }
        &_intro {
            @include webkitBox;
            -webkit-line-clamp: 2;
            font-size: 18px;
            margin-bottom: 13px;
            max-height: 54px;
        }
    }
}